<!-- Generated your favicon at realfavicongenerator.net and copy code here -->
<link rel="apple-touch-icon" sizes="180x180" href="https://files.rsan.org/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="https://files.rsan.org/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="https://files.rsan.org/favicon-16x16.png" />
<link rel="manifest" href="https://cdn.jsdelivr.net/gh/amzrk2/cdn-stcapi@1/favicons/site.webmanifest" />
<link rel="mask-icon" href="https://cdn.jsdelivr.net/gh/amzrk2/cdn-stcapi@1/favicons/safari-pinned-tab.svg" color="#8aa2d3" />
<link rel="shortcut icon" href="https://files.rsan.org/favicon.ico" />
<meta name="theme-color" content="#ffffff" />
